<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>R. Kent Johnson</h1>
    </div>
</div>
<div class="row">
    <div calss="col-xs-12">
        <img src="../../assets/images/barzeer.jpg" alt="" class="img-responsive">
        <div class="btn-group">
            <button class="btn btn-primary dropdown">
                Manage contact
            </button>
            <button class="btn btn-danger dropdown">
                Manage contact
            </button>
        </div>
    </div>
</div>


