<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>R. Kent Johnson</h1>
    </div>
</div>
<div class="row">
    <div calss="col-xs-12">
        <div class="col-md-2">
            <img [src]="selection.imageUrl" [alt]="selection.name" class="img-responsive">
        </div>
        <div class="btn-group">
            <button class="btn btn-primary pull-right">
                Manage contact
            </button>
            <button class="btn btn-danger pull-right">
                Manage contact
            </button>
        </div>
    </div>
</div>
<div class="row">
    <ul>
        <li>{{selection.email}}</li>
        <li>{{selection.phone}}</li>
    </ul>
</div>


